<head>
  <title>MAGIC</title>
  <link rel="stylesheet" type="text/css" href="../stylesheets/main.css" />
  <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic' rel='stylesheet' type='text/css'>
</head>

<body>
<img id="banner" src="../images/magic-mentorship-program-600x129.png"/>

<div class="container">
<div class="box">

<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<p>
New? <%= render "devise/shared/links" %>

</div></div>
</body>

<footer>Autodesk Team Interns</footer>
